In [ ]:
# Test Case 1: Simple SELECT Query
query = "select id, name from users where active = 1"
print(query)

In [ ]:
# Test Case 2: SELECT Query with F-Strings
table_name = "users"
status = "active"

query = f"select id, name from {table_name} where status = '{status}'"
print(query)

In [ ]:
# Test Case 3: Multi-line SELECT Query
query = """
select id, name, email
from users
where active = 1
order by name
"""
print(query)

In [ ]:
# Test Case 4: Multi-line SELECT Query with F-Strings
columns = "id, name, email"
table_name = "users"
order_column = "name"

query = f"""
select {columns}
from {table_name}
where active = 1
order by {order_column}
"""
print(query)

In [ ]:
# Test Case 5: SQL Query with Line Magic Command
%sql select * from users where active = 1

In [ ]:
# Test Case 6: SQL Query with Cell Magic Command
%%sql
select *
from users
where active = 1

In [ ]:
# Test Case 7: INSERT Query with F-Strings
table_name = "users"
columns = "(id, name, email)"
values = "(1, 'John Doe', 'john@example.com')"

query = f"insert into {table_name} {columns} values {values}"
print(query)

In [ ]:
# Test Case 8: UPDATE Query with F-Strings
table_name = "users"
new_status = "inactive"
user_id = 1

query = f"update {table_name} set status = '{new_status}' where id = {user_id}"
print(query)

In [ ]:
# Test Case 9: DELETE Query with F-Strings
table_name = "users"
user_id = 1

query = f"delete from {table_name} where id = {user_id}"
print(query)

In [ ]:
# Test Case 10: Query with Comments
query = """
-- Select all active users
select id, name
from users
where active = 1  -- Only active users
order by name
"""
print(query)

In [ ]:
# Test Case 11: Query with Complex Expressions in F-Strings
table_name = "users"
columns = ["id", "name", "email"]
conditions = " and ".join(["active = 1", "email IS NOT NULL"])

query = f"""
select {', '.join(columns)}
from {table_name}
where {conditions}
"""
print(query)

In [ ]:
# Test Case 12: Query with String Literals Containing SQL-like Syntax
message = "This is not an SQL query: select * from users;"
print(message)

In [ ]:
# Test Case 13: Empty Query String
query = ""
print(query)

In [ ]:
# Test Case 14: Non-SQL String
text = "Hello, World!"
print(text)

In [ ]:
# Test Case 15: Query with `%s` Placeholders
query = "select id, name from users where status = %s and active = %s"
print(query)

In [ ]:
# Test Case 16: Query Using Named Parameters
query = "select id, name from users where status = :status and active = :active"
print(query)

In [ ]:
# Test Case 17: Query with Subqueries
query = """
select id, name
from users
where id in (select user_id from orders where total > 100)
"""
print(query)

In [ ]:
# Test Case 18: Query with JOIN Clauses
query = """
select users.id, users.name, orders.total
from users
join orders on users.id = orders.user_id
where orders.date > '2023-01-01'
"""
print(query)

In [ ]:
# Test Case 19: Query with Aggregation Functions
query = """
select status, count(*) as user_count
from users
group by status
having count(*) > 10
order by user_count desc
"""
print(query)

In [ ]:
# Test Case 20: Query with CASE Statements
query = """
select
    id,
    name,
    case
        when active = 1 then 'Active'
        else 'Inactive'
    end as status_label
from users
"""
print(query)